{% extends "base.html" %}

{% block title %}Семинар 1{% endblock %}

{% block content %}
  <h1>Семинар 1</h1>
  <p>Работа с HTML-формами и обработкой данных на сервере (Python + Flask).</p>

  <ul class="link-list">
    <li><a href="{{ url_for('seminar1_task1') }}">Задание 1: SELECT и LISTBOX</a></li>
    <li><a href="{{ url_for('seminar1_task2') }}">Задание 2: Вычисления</a></li>
    <li><a href="{{ url_for('seminar1_task3') }}">Задание 3: АСУ</a></li>
    <li><a href="{{ url_for('seminar1_task4') }}">Задание 4: Отчеты</a></li>
  </ul>
{% endblock %}
